$bp-largest: 75em; //1200px
$bp-large: 74.9375em; //1199px
$bp-medium: 61.9375em; //991px
$bp-small: 47.9375em; //767px
$bp-smallest: 35.9375em; //575px

$color-green: #47a3a0;
$color-secondary: #6f6f6f;
$color-yellow: #FFD471;
$color-white: #FFFFFF;